<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyperbay</title>
    <link rel="stylesheet" href="css/hyperprofile.css">
    <link rel="shortcut icon" href="img/Annotation 2022-04-19 141340.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/0cd43d1304.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
    <body>
      <header class="profile-head">
            <h2>HYPE<i class="fa-solid fa-anchor"></i>BAY</h2>
            <div class="profile-head-list">
                <ul class="profile-list">
                    <li>HOME</li>
                    <li>SALES</li>
                    <li>ABOUT US</li>
                    <li>CONTACT US</li>
                </ul>
                <ul class="profile-icon">
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i class="fa-solid fa-bell"></i></li>
                </ul>
            </div>
      </header>  
        <nav class="profile-nav">
            <div class="profile-nav-info">
                <div class="profile-info">
                    <img src="img/profile-icon-9.png" alt="">
                    <h3>Scott Parker</h3>
                    <h4>chrizyc77</h4>
                </div>
                <div class="profile-nav-list">
                    <div class="profile-nav-unlist">
                        <i class="fa-solid fa-cart-arrow-down"></i>
                        <div class="profile-nav-text">
                            <h3>MY ORDERS</h3>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="profile-nav-unlist">
                        <i class="fa-solid fa-money-bill-trend-up"></i>
                        <div class="profile-nav-text">
                            <h3>TRANSACTIONS</h3>
                        <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="profile-nav-unlist">
                        <i class="fa-solid fa-address-card"></i>
                        <div class="profile-nav-text">
                            <h3>ADDRESS</h3>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="profile-nav-unlist">
                        <i class="fa-solid fa-gears"></i>
                        <div class="profile-nav-text">
                            <h3>PRIVACY</h3>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="profile-nav-unlist">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <div class="profile-nav-text">
                            <h3>LOG OUT</h3>
                        <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-dashboard">
                <div class="profile-order">
                    <div class="profile-order-body">
                        <h3>SHOPPING CART</h3>
                        <div class="profile-order-head">
                            <h3>PRODUCT</h3>
                            <h3>SIZE</h3>
                            <h3>AMOUNT</h3>
                        </div>
                        <div class="profile-order-info">
                            <div class="profile-order-list">
                                <div class="profile-order-img">
                                    <img src="img/a6.png" alt="">
                                    <p>fashion-womens-breathable-sneakers-24-pink</p>
                                </div>
                                <div class="profile-order-amount">
                                    <h3>8.5</h3>
                                    <h3>$3000</h3>
                                    <button>CANCEL ORDER</button>
                                </div>
                            </div>
                            <div class="profile-order-list">
                                <div class="profile-order-img">
                                    <img src="img/a8.png" alt="">
                                    <p>white-ecru-cotton-t-shirt</p>
                                    
                                </div>
                                <div class="profile-order-amount">
                                    <h3>38</h3>
                                    <h3>$5000</h3>
                                    <button>CANCEL ORDER</button>
                                </div>
                            </div>
                            <div class="profile-order-list">
                                <div class="profile-order-img">
                                    <img src="img/a9.png" alt="">
                                    <p>pointed-toe-mens-breathable-brown-office-leather-shoes</p>
                                </div>
                                <div class="profile-order-amount">
                                    <h3>9.5</h3>
                                    <h3>$4500</h3>
                                    <button>CANCEL ORDER</button>
                                </div>
                            </div>
                            <div class="profile-order-list">
                                <div class="profile-order-img">
                                    <img src="img/a10.png" alt="">
                                    <p>mens-pink-sleeve-shirt-business-and-formal</p>
                                </div>
                                <div class="profile-order-amount">
                                    <h3>32</h3>
                                    <h3>$3800</h3>
                                    <button>CANCEL ORDER</button>
                                </div>
                            </div>
                            <div class="profile-order-list">
                                <div class="profile-order-img">
                                    <img src="img/a11.png" alt="">
                                    <p>never-fadingsuper-solid-sophisticated-gold-timepiece</p>
                                </div>
                                <div class="profile-order-amount">
                                    <h3>6.3</h3>
                                    <h3>$10000</h3>
                                    <button>CANCEL ORDER</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-total-info">
                            <div>
                                <i class="fa-solid fa-angle-left"></i>
                                <h3>CONTINUE SHOPPING</h3>
                            </div>
                            <div class="profile-total">
                                <h3>TOTAL:</h3>
                                <h3>$26,300</h3>
                            </div>
                        </div>
                    </div>
                    <div class="profile-order-payment">
                        <h3>PAYMENT INFO</h3>
                        <div class="payment-info">
                            <h3>PAYMENT METHOD</h3>
                            <div class="payment-list">
                                <div class="payment-input">
                                    <button></button> 
                                    <div id="payment-icon">
                                        <i class="fa-regular fa-credit-card"></i>
                                        <h3> credit card</h3>
                                    </div>
                                </div>
                                <div class="payment-input">
                                    <button></button> 
                                    <div class="payment-icon">
                                        <i class="fa-brands fa-paypal"></i>
                                        <h3>paypal</h3>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                   <h3> Name Of Card</h3>
                                    <input type="text">
                                </div>
                                <div>
                                    <h3>Card Number</h3>
                                    <input type="number">
                                </div>
                                <div>
                                    <h3>Expiration Date</h3>
                                    <input type="number">
                                    <input type="number">
                                </div>
                                <div>
                                    <h3>Cvv</h3>
                                    <input type="number">
                                </div> 
                            </div>
                        </div>
                        <div>
                            <input type="submit" value="MAKE PAYMENT">
                        </div>
                    </div>

                </div>
              
            </div>
            
        </nav>





        <script src="js/hyperprofile.js"></script>
    </body>
</html>