<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hyperbay</title>
        <link rel="stylesheet" href="css/hypebay.css">
        <link rel="stylesheet" media="screen and (max-width:414px)" href="css/mobile/hypermobile.css">
        <link rel="shortcut icon" href="img/Annotation 2022-04-19 141340.png" type="image/x-icon">
        <script src="https://kit.fontawesome.com/0cd43d1304.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="hyperbay-nav">
            <div class="login">
                <div class="login-list">
                    <a id="login-list-text1"href ="login"> LOGIN</a>
                    <a id="login-list-text2"href ="register"> REGISTER</a>
                </div>
            </div>
            <div class="nav-head">
                <div id="nav-search">
                    <input class="search" type="text">
                </div>
                <div class="nav-head-list">
                    <div id="nav-text">
                        <h3 style="color: white;">HYPE<i class="fa-solid fa-anchor"></i>BAY</h3>
                        <input type="text">
                    </div>
                    <div id="nav-icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-google-plus-g"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
               
            </div>
            <div class="nav-list">
                <i class="fa-solid fa-house home"></i>
                <div class="nav-list-item">
                    <h3 id="cancle">X</h3>
                    <h4 class="item">HOME</h4>
                    <h4 class="item">SALES</h4>
                    <h4 class="item">BLOG</h4>
                    <h4 class="item">PROFILE</h4>
                    <h4 class="item">CONTACT</h4>
                    <h4 class="item">ABOUT</h4>
                </div>
            </div>
        </nav>
        <section class="banner">
            <div id="first-banner">
                <div id="first-banner-ultext">
                    <div id="first-banner-text">
                        <h4 id="text1">MAKE YOUR DREAM COME TRUE</h4>
                        <h4 id="text2">COOL STYLE</h4>
                        <button id="text3">SHOP THE COLLECTION</button>
                    </div>
                </div>
            </div>
            <div class="banner2">
                <div class="second-banner">
                    <div class="second-banner-ultext">
                        <div class="second-banner-text">
                            <h4 class="second-banner-text1">CROOKS AND CASTLESS</h4>
                            <h4 class="second-banner-text2">COOL STYLE</h4>
                            <button class="second-banner-text3">SHOP THE COLLECTION</button>
                        </div>
                        
                    </div>
                </div>

                <div class="third-banner">
                    <div class="second-banner-ultext">
                        <div class="second-banner-text">
                            <h4 class="second-banner-text1">BEST OF WORTH</h4>
                            <h4 class="second-banner-text2">COOL STYLE</h4>
                            <button class="second-banner-text3">SHOP THE COLLECTION</button>
                        </div>
                    </div>
                </div>
            </div>
           

        </section>
     
        <section class="product">
            <h2>BEST SELLING PRODUCTS</h2>
            <div class="product-list">
                <div class="product-item">
                    <img src="img/a1.png" alt="">
                    <h3> fashion-mens-black-leather-shoes</h3>
                    <h3>$6,000</h3>

                </div>
                
                <div class="product-item">
                    <img src="img/a2.png" alt="">
                    <h3>chrysolite-designs-hoodie-white</h3>
                    <h3>$6,400</h3>
                </div>

                <div class="product-item">
                    <img src="img/a3.png" alt="">
                    <h3>fashion-elegant-unique-face-cap</h3>
                    <h3>$2,000</h3>
                </div>

                <div class="product-item">
                    <img src="img/a4.png" alt="">
                    <h3>fashion-mens-non-fade-blue-jeans</h3>
                    <h3>$5,000</h3>
                </div>

                <div class="product-item">
                    <img src="img/a5.png" alt="">
                    <h3>fashion-simple-plain-short-jeans</h3>
                    <h3>$3,500</h3>
                </div>
                
            </div>

        </section>
        <footer class="hyper-footer">
            <div class="footer-list">
                <h3>About us</h3>
                <p>we want to help you with the best fashion and accessories you can get</p>
            </div>
            <div class="footer-list">
                <h3>Contact us</h3>
                <p><i class="fa-solid fa-phone"></i> +9 2538 368 957 </p>
                <p><i class="fa-solid fa-envelope"></i>hyperbay.com</p>
            </div>
            <div class="footer-list">
                <h3>Information</h3>
                <ul class="footer-list-item">
                    <li>About us</li>
                    <li>More search</li>
                    <li>Event</li>
                    
                </ul>

            </div>
            <div class="footer-list">
                <h3>Helpful Links</h3>
                <ul class="footer-list-item">
                    <li>Service</li>
                    <li>Supports</li>
                    <li>erms & Condition</li>
                    <li>Privacy Policy</li>
                    
                </ul>
            </div>

        </footer>
        <script src="js/hyperbay.js"></script>
        <script src="js/profilemobile.js"></script>
    </body>
</html>